<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <img src="../static/Lovepik_com-450128521- laptop transparent.png" alt="" width="700px" bakground-size="cover">
    </div>
    <div class="wrapper">
        <div class="title">
            Laptop Price 
        </div>

        <form action="/" class="form" method="POST">
            <div class="inputfield">
                <label for="ram">Ram-GB</label>
                <input type="text" name="ram" class="input" required>
            </div>
            <div class="inputfield">
                <label for="weight">Weight</label>
                <input type="text" name="weight" class="input" required>
            </div>
            
            <div class="inputfield">
                <label for="company">Company</label>
                <div class="custom_select">
                    <select name="company" id="company" class=>
                        <option value="" selected hidden>Select</option>
                        <option value="Apple">Apple</option>
                        <option value="Dell">Dell</option>
                        <option value="HP">HP</option>
                        <option value="Lenovo">Lenovo</option>
                        <option value="Asus">Asus</option>
                        <option value="Acer">Acer</option>
                        <option value="MSI">MSI</option>
                        <option value="Toshiba">Toshiba</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>
            <div class="inputfield">
                <label for="typename">Type Name</label>
                <div class="custom_select">
                    <select name="typename" id="typename">
                        <option value="" selected hidden>Select</option>
                        <option value="ultrabook">Ultrabook</option>
                        <option value="notebook">Notebook</option>
                        <option value="gaming">Gaming</option>
                        <option value="2in1Convertible">2 in 1 Convertible</option>
                        <option value="netbook">Netbook</option>
                        <option value="workstation">Workstation</option>
                    </select>
                </div>
            </div>
            <div class="inputfield">
                <label for="opsys">Operating System</label>
                <div class="custom_select">
                    <select name="opsys" id="opsys">
                        <option value="" selected hidden>Select</option>
                        <option value="windows">Windows</option>
                        <option value="mac">Mac</option>
                        <option value="linux">Linux</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>
            <div class="inputfield">
                <label for="cpuname">CPU</label>
                <div class="custom_select">
                    <select name="cpuname" id="cpuname">
                        <option value="" selected hidden>Select</option>
                        <option value="Intel Core i7">Intel Core i7</option>
                        <option value="Intel Core i5">Intel Core i5</option>
                        <option value="Intel Core i3">Intel Core i3</option>
                        <option value="AMD Processor">AMD Processor</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>
            <div class="inputfield">
                <label for="gpuname">GPU</label>
                <div class="custom_select">
                    <select name="gpuname" id="gpuname">
                        <option value="" selected hidden>Select</option>
                        <option value="Nvidia">Nvidia</option>
                        <option value="Intel">Intel</option>
                        <option value="AMD">AMD</option>
                    </select>
                </div>
            </div>
            <div class="check">
                <div>
                    <label for="touchscreen">Touch Screen</label>
                    <input type="checkbox" name="touchscreen">
                </div>
                <div>
                    <label for="ips">IPS Display</label>
                    <input type="checkbox" name="ips" >
                </div>
            </div>
            <div class="inputfield">
                <input type="submit" value="Predict Price" class="btn">
            </div>
            
        </form>
        <div class="result">
            {% if pred != 0 %}
                <p>Predicted Price: USD {{ pred }}</P>
            {% endif %}
        </div>
    </div>
</body>
</html>